<h2>Update the drone</h2>
<form method="post" action="/drones/{{drone._id}}/edit" class="form">
<label class="label">Name</label>
  <input class="input" type="text" name="name" value="{{drone.name}}"/>
  <label class="label">propellers</label>
  <input class="input" type="number" name="propellers" value="{{drone.propellers}}"/>
  <label class="label">max speed</label>
  <input class="input" type="number" name="maxSpeed" value="{{drone.maxSpeed}}"/>
  <button class="button">update</button>
</form>